In [4]:
#Question1
Liste=[2,6,3]
m=1 # Affecter a la variable m l'element neutre de la multiplication
for i in Liste :
  m=m*i
print(m) # Ne pas inclure le print a la boucle for, sinon on aura la liste des changements non pas le resultat final

36

In [ ]:
#Question2
New_list = [(2,5),(1,2),(4,4),(2,3),(2,1)]
New_list.sort() # la fonction sort sert a ordonner les elements du plus petit au plus grand 
print(New_list)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [2]:
#Question3
d1={"a":100,"b":200,"c":300}
d2={"a":300,"b":200,"d":400}
d3={}
for key in d1.keys():
  if key in d2.keys():
    d3[key]=d1[key]+d2[key] # key2 n'est pas encore mentionnée 
  elif key not in d2.keys():
    d3[key]=d1[key]
for key2 in d2.keys():
  if key2 not in d1.keys():
    d3[key2]=d2[key2]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [5]:
#Question4
dict={}
N = int(input("Entrez le dernier element de votre liste de clés:"))
for c in range(1,N+1): # Meme en mettant 1 au debut, la derniere valeur n'est toujours pas prise en compte, that's why we put N+1
  dict[c]=c**2
print(dict)

Entrez le dernier element de votre liste de clés:10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
#Question5
My_list=[("item1","12.20"),("item2","15.10"),("item3","24.5")]
My_list.sort(reverse=True) # Pour inverser l'ordre des elements "de la fin au debut"
print(My_list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]